<div class="row">
    <div class="col-sm-4" id="col-izq">
        <div class="row">
            <div class="col-sm-6">

            </div>
            <div class="col-sm-6">
                <div class="circle" id="izq-arr-dec" >
                    <img class="grid-images" src="../resources/imgs/wu.jpg">
                    <img class="play-over" src="../resources/imgs/play.gif">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-7">
                <div class="circle" id="izq-abj-izq">
                    <img class="grid-images"  src="../resources/imgs/album.jpg">
                    <img class="play-over" src="../resources/imgs/play.gif">
                </div>
            </div>
            <div class="col-sm-4" >
                <div class="circle" id="izq-abj-dec">
                    <img class="grid-images"  src="../resources/imgs/album.jpg">
                    <img class="play-over" src="../resources/imgs/play.gif">
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="circle">
            <img class="grid-images" src="../resources/imgs/21.jpeg">
            <img class="play-over" src="../resources/imgs/play.gif">
        </div>
    </div>
    <div class="col-sm-4" id="col-med">
        <div class="row">
            <div class="col-sm-4">
                <div class="circle" id="dec-arr-izq">
                    <img class="grid-images" src="../resources/imgs/album.jpg">
                    <img class="play-over" src="../resources/imgs/play.gif">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="circle" id="dec-arr-dec">
                    <img class="grid-images" src="../resources/imgs/nas-illmatic.jpg">
                    <img class="play-over" src="../resources/imgs/play.gif">
                </div>
            </div>
        </div>
        <div class="row" id="col-dec">
            <div class="col-sm-6">
                <div class="circle" id="dec-abj-izq">
                    <img class="grid-images" src="../resources/imgs/wu.jpg">
                    <img class="play-over" src="../resources/imgs/play.gif">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="circle" id="dec-abj-dec">
                    <img class="grid-images"  src="../resources/imgs/21.jpeg">
                    <img class="play-over" src="../resources/imgs/play.gif">
                </div>
            </div>
        </div>
    </div>
</div>