<style>
    /* https://foundation.zurb.com/building-blocks/blocks/mobile-bottom-bar.html */
    .mobile-bottom-bar {
        width: 100%;
        height: 4.5rem;
        background: black;


        position: fixed;
        z-index: 100;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    #player-h-list ul{
        list-style: none;
    }

    ul#player-h-list li {
        display:inline;
        float: left;
        margin-left: 20px;
    }

    #player-h-list #seek {
        width: 300px;
    }

    .mobile-bottom-bar i{
        color: white;
        font-size:25px

    }
    .mobile-bottom-bar i:hover{
        color: gray;
        font-size:27px
    }

    #player-center{
        margin: auto;
        width: 50%;
    }

</style>

<script>

    var audioElement = document.createElement('audio');

    function playSong(song_src) {
        console.log('playing' + song_src);
        audioElement.play();
        $('#seek').attr('max',audioElement.duration);
    }

    $(document).ready(function() {
        //audioElement.setAttribute('src', 'http://155.210.13.105:7480/TEST/malabar.mp3');
        audioElement.setAttribute('src', '/resources/music/4AM.mp3');

        audioElement.addEventListener('ended', function() {
            this.play();
        }, false);

        audioElement.addEventListener("canplay",function(){
            $("#length").text("Duration:" + audioElement.duration + " seconds");
            $("#source").text("Source:" + audioElement.src);
            $("#status").text("Status: Ready to play").css("color","green");
        });

		$("#seek").bind("change", function() {
				audioElement.currentTime = $(this).val();
			});

        audioElement.addEventListener("timeupdate",function(){
            curtime = parseInt(audioElement.currentTime, 10);
			$("#seek").attr("value", curtime);
			if( end_subs == false ) {
                if (curtime * 1000 > subtitles[last_sub].start) {
                    $("#lyrics").text(subtitles[last_sub].text);
                    last_sub = last_sub + 1;
                    if ( last_sub >= subtitles.length){
                        end_subs = true;
                    }
                }
            }
		});

        $('#play').click(function() {/*
            audioElement.play();
            $("#status").text("Status: Playing");
			$('#seek').attr('max',audioElement.duration);*/
        });

        $('#pause').click(function() {
            /*
            audioElement.pause();
            $("#status").text("Status: Paused");*/
        });

        $('#restart').click(function() {
            audioElement.currentTime = 0;
        });

		$('#play-header').click(function(){
			audioElement.play();
		});


		/**********************************************************************************/

		document.getElementById("pause").style.display = "none";

    });


    function play_toggle(icon_id, pause_id)  {
        document.getElementById(pause_id).style.display = "block";
        document.getElementById(icon_id).style.display = "none";


            console.log('play');
            audioElement.play();
            $("#status").text("Status: Playing");
            $('#seek').attr('max',audioElement.duration);

    }
    function pause_toggle(icon_id, play_id)  {
        document.getElementById(play_id).style.display = "block";
        document.getElementById(icon_id).style.display = "none";


        audioElement.pause();
        $("#status").text("Status: Paused");
    }

</script>

<body>
    <div class="mobile-bottom-bar">


            <div class="player-gradient">
                <ul id="player-h-list">
                    <li>
                        <img src="/resources/imgs/nas-illmatic.jpg" style="width: 45px; height: 45px; margin-top: -10px">
                    </li>
                    <li style="margin-top: -5px">
                        <h5 style="color: white">Cancion</h5>
                        <h6 style="color: white">Artista</h6>
                    </li>
                    <div id="player-center">
                        <li>
                            <i class="fa fa-backward"></i>
                        </li>
                        <li>
                            <i class="fa fa-play" id="play" onclick="play_toggle(this.id, 'pause')" ></i>
                        </li>
                        <li>
                            <i class="fa fa-pause" id="pause" onclick="pause_toggle(this.id, 'play')" ></i>
                        </li>
                        <li>
                            <i class="fa fa-forward"></i>
                        </li>

                        <li>
                            <input type="range" id="seek" value="0" max=""/>
                        </li>
                        <li>
                            <i class="glyphicon glyphicon-random" id="random" style="font-size: 25px;"></i>
                        </li>
                        <li>
                            <i class="glyphicon glyphicon-heart" id="like"></i>
                        </li>
                      

                    </div>

                </ul>

            </div>
    </div>
</body>