<body>
<aside class="hidden-sm hidden-xs">
    <nav class="navbar navbar-inverse sidebar" role="navigation">

        <div class="nav-side-menu">
            <div class="brand">{{ site.title }}</div>
            <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

            <div class="menu-list">
                <ul id="menu-content" class="menu-content collapse out">
                    <li data-toggle="collapse" data-target="#new" class="collapsed">
                        <a href="#"><i class="fa fa-car fa-lg"></i> Usuario <span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="new">
                        <li>Mi perfil</li>
                        <li>Mis playlists</li>
                        <li>Mis canciones</li>
                    </ul>
					<li>
                        <a href="#"><i class="fa fa-globe fa-lg"></i>Explorar</a>
					</li>
					<li>
                        <a href="#"><i class="fa fa-globe fa-lg"></i>Novedades</a>
					</li>
					<li>
                        <a href="#"><i class="fa fa-globe fa-lg"></i>Recomendaciones</a>
					</li>
					<li data-toggle="collapse" data-target="#biblio" class="collapsed">
                        <a href="#"><i class="fa fa-car fa-lg"></i> Mi biblioteca <span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="biblio">
                        <li>Playlists</li>
                        <li>Artistas</li>
                        <li>Canciones</li>
                    </ul>
                </ul>
            </div>
        </div>
    </nav>

</aside>
</body>